.layout {
  max-width: 1200px;
  min-width: 800;
  margin: 0 auto;
}

.react {
  background-color:cadetblue;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5px
}

.title-box {
  background-color: orange;
  display: flex;
  border-radius: 20px;
  align-items: center;
  height: 100px;
}

.input-group {
  margin-left: 10px;
}

.form-label {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.input-box {
  font-size: large;
  padding: 10px;
  margin-left: 10px;
  margin-right: 15px;
  border: 2px solid white;
  border-radius: 20px;
}

h2 {
  margin: "10px";
  font-weight: "bold";
  font-size: "20px";
}

.todo-wrapper {
  margin: 20px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.todo-cards {
  border: 5px solid orange;
  border-radius: 20px;
  padding: 10px;
  width: 250px;
  margin: 10px;
}

.buttons-set{
  margin: 20px auto 10px auto;
  display:flex;
  justify-content: space-around;

}
.buttons {
  font-size: medium;
  font-weight: bold;
  color: white;
  width: 100px;
  background-color: cadetblue;
  border: 2px solid cadetblue;
  border-radius: 20px;
  padding: 6px
}

.buttons:hover {
  background-color: white;
  color:cadetblue;
  cursor: pointer;
}